[project]
name = "kaggle-supermarket"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "jupyterlab>=4.5.0",
    "kaggle>=1.7.4.5",
    "pandas>=2.3.3",
]
